body {
    margin: 0;
}
header {
    background-image: url("images/header/1.png");
}
/* атомарные классы */

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    color: rgb(255, 255, 255)
}
.btn {
    display: inline-block;
    background-color: #e84545;
    padding: 10px 40px;
    border: 1px solid  rgb(255, 127, 80);
    text-decoration: none;
    color: rgb(255, 255, 255);


}
.btndownload {
    display: inline-block;
    background-color: #e84545;
    padding: 10px 60px;
    border: 1px solid  rgb(255, 127, 80);
    text-decoration: none;
    color: rgb(255, 255, 255);    
}
.item {
    text-align: center;
}

.bimg {
    display: block;
    width: 100%;
}

/* БЭМ */

.box .nav {
    text-decoration: none;
}

header .row.c2 {
    text-align: center;
}
header .row.c1 {
    display: flex;
    justify-content: space-between;
}
nav .navigation {
    color: #d8d8dc;
    text-decoration: none;
} 

#features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 50px 0;
    text-align: center;
/* ???unexpected character background-color: #ffffff;*/
}
#works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#team .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
/*???unexpected character background-color: #ffffff;*/
}
#team .name {
    color: #454749;
}
#team .status {
    color: #e84545;
}
#team .descr {
    color: #6c7279;
}
#download {
    text-align: center;
    padding: 50px 0;
/*??? unexpected character    background-color: #ffffff;*/
}

footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 0;
    background-color: #3a3e64;
}
footer .descr {
    color: #71748b;
}
.copyright {
    color: #77787b;

}
.copyrights {
    color: #bfbfc6;

}
.copy {
    background-color: #313454;
}
#download .title {
    color: #2d3033;
    font-size: 2em;
    font-weight: normal;
}
#download .descr {
    color:#2d3033;
    font-size: 1em;
    font-weight: bold;
}

@media all and (max-width: 1170px) {
    #team .container {
        grid-template-columns: repeat(2, 1fr);
    }
}