@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Regular.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('fonts/raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Light.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/opensans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Raleway';
}
header {
    background-image: url("images/header/1.png");
}
nav {
    display: flex;
    gap: 60px;
    text-decoration: none;
}

/* атомарные классы */

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    color: #fff;
    font-family: 'Open Sans';
    text-align: center;
    width: 60%;
    display: inline-block;
    font-size: 3em;
    padding-top: 150px;
}
h6 {
    color: #a6a7af;
}
hr {
    color: #4e5166;
}
.btn {
    display: inline-block;
    background-color: #e84545;
    padding: 20px 50px;
    border: 1px solid  rgb(255, 127, 80);
    text-decoration: none;
    color: rgb(255, 255, 255);
/*    font-family: 'Raleway SemiBold';*/
    font-weight: 600;
}

.btndownload {
    display: inline-block;
    background-color: #e84545;
    padding: 20px 85px;
    border: 1px solid  rgb(255, 127, 80);
    text-decoration: none;
    color: rgb(255, 255, 255);
/*    font-family: 'Raleway SemiBold';*/
    font-weight: 600;   
}
.item {
    text-align: center;
}

.bimg {
    display: block;
    width: 100%;
}
.socnet {
    display: flex;
    gap: 5px;
} 

/* БЭМ */

header .row.c2 {
    text-align: center;
}
header {
    padding-top: 45px;
    padding-bottom: 150px;
}
header .row.c1 {
    display: flex;
    justify-content: space-between;
/*    gap: 60px;*/
}
nav .navigation {
    color: #d8d8dc;
    text-decoration: none;
    font-family: "Raleway Bold";
    padding-bottom: 45px;
}

#features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 120px 0 130px 0;
    text-align: center;
    background-color: #fff;
}
#features .advant {
    font-family: 'Raleway Bold';
}

#works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#team .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px;
    background: #fff;
    padding: 100px 0;
}
#team .name {
    color: #454749;
    font-family: 'Raleway';
    padding: 35px 0 19px 0;
}
#team .status {
    color: #e84545;
    font-family: 'Raleway';
    padding: 0 0 35px;
}
#team .descr {
    color: #6c7279;
    font-family: 'Raleway';
    margin: 0;
    padding-bottom: 35px;
}
#team .sn {
    display: block;
    width: 41px;
    height: 41px;
}
#team .sn.fb {
    background-image: url("images/team/socnet/fb.png");
}
#team .sn.tw {
    background-image: url("images/team/socnet/tw.png");
}
#team .sn.in {
    background-image: url("images/team/socnet/in.png");
    /* repeat: nonrepeat */
}

#download {
    text-align: center;
    padding: 50px 0;
    background: #fff;
}
#download .title {
    color: #2d3033;
    font-size: 2em;
    font-weight: 300;
/*    font-family: 'Raleway Light';*/
}
#download .descr {
    color: #2d3033;
    font-size: 1em;
    font-weight: bold;
/*    font-family: "Raleway Bold";*/
}

footer {
    text-align: center;
}
footer .descr {
    color: #71748b;
}
footer .socnet {
    justify-content: center;
}
footer .sn {
    display: block;
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
}
footer .sn.fb {
background-image: url("images/footer/icons/1a.png");
}
footer .sn.tw {
    background-image: url("images/footer/icons/2a.png");
}
footer .sn.in {
    background-image: url("images/footer/icons/3a.png");
}
footer .name {
    color: #f5f5f7;
    margin-bottom: 20px;
    font-weight: bold;
}
footer .row.c1 {
    background-color: #3a3e64;
    padding-top: 70px;
    padding-bottom: 90px;
}
footer .row.c1 .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
footer .row.c2 {
    background-color: #313454;
    color: #808080;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .row.c2 .s1 {
    color: #f5f5f6;
}

@media all and (max-width: 1170px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    #team .container {
        grid-template-columns: repeat(2, 1fr);
    }
    #features .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


