@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Regular.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('fonts/raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Light.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/opensans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Raleway';
}
header {
    background-image: url("images/header/1.png");
}
nav {
    display: flex;
    gap: 60px;
    text-decoration: none;
}

/* атомарные классы */

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
h1 {
    color: #fff;
    font-family: 'Open Sans';
    text-align: center;
    width: 60%;
    font-size: 3em;
    margin: 0;
}
h6 {
    color: #a6a7af;
}

.btn {
    display: inline-block;
    background-color: #e84545;
    padding: 20px 50px;
    border: 1px solid  rgb(255, 127, 80);
    text-decoration: none;
    color: rgb(255, 255, 255);
/*    font-family: 'Raleway SemiBold';*/
    font-weight: 600;
}
.btn.s1 {
    padding: 20px 85px;
}
.bimg {
    display: block;
    width: 100%;
}
.socnet {
    display: flex;
    gap: 5px;
} 

/* БЭМ */

header .row.c2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
header {
    padding-top: 45px;
    padding-bottom: 150px;
}
header .row.c1 {
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */
    border-bottom: 1px solid #505369;
    padding-bottom: 40px;
}
nav .navigation {
    color: #d8d8dc;
    text-decoration: none;
    font-family: "Raleway Bold";
    padding-bottom: 45px;
}

#features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 120px 0 130px 0;
    text-align: center;
    background-color: #fff;
}
#features .advant {
    font-family: 'Raleway Bold';
}

#works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#works .item {
    position: relative;
}
#works .hover_area {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(232, 69, 69, 0.9);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#works .item:hover .hover_area {
    display: flex;
}

#team .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px;
    background: #fff;
    padding: 100px 0;
}
#team .name {
    color: #454749;
    font-family: 'Raleway';
    padding: 35px 0 19px 0;
}
#team .status {
    color: #e84545;
    font-family: 'Raleway';
    padding: 0 0 35px;
}
#team .descr {
    color: #6c7279;
    font-family: 'Raleway';
    margin: 0;
    padding-bottom: 35px;
}
#team .sn {
    display: block;
    width: 41px;
    height: 41px;
}
#team .sn.fb {
    background-image: url("images/team/socnet/fb.png");
}
#team .sn.tw {
    background-image: url("images/team/socnet/tw.png");
}
#team .sn.in {
    background-image: url("images/team/socnet/in.png");
    /* repeat: nonrepeat */
}

#download {
    text-align: center;
    padding: 50px 0;
    background: #fff;
}
#download .title {
    color: #2d3033;
    font-size: 2em;
    font-weight: 300;
/*    font-family: 'Raleway Light';*/
}
#download .descr {
    color: #2d3033;
    font-size: 1em;
    font-weight: bold;
/*    font-family: "Raleway Bold";*/
}

footer {
    text-align: center;
}
footer .descr {
    color: #71748b;
}
footer .socnet {
    justify-content: center;
}
footer .sn {
    display: block;
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
}
footer .sn.fb {
background-image: url("images/footer/icons/1a.png");
}
footer .sn.tw {
    background-image: url("images/footer/icons/2a.png");
}
footer .sn.in {
    background-image: url("images/footer/icons/3a.png");
}
footer .name {
    color: #f5f5f7;
    margin-bottom: 20px;
    font-weight: bold;
}
footer .row.c1 {
    background-color: #3a3e64;
    padding-top: 70px;
    padding-bottom: 90px;
}
footer .row.c1 .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
footer .row.c2 {
    background-color: #313454;
    color: #808080;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .row.c2 .s1 {
    color: #f5f5f6;
}

@media all and (max-width: 1170px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        font-size: 2.5em;
    }
    #features .advant {
        font-size: 0.8em;
    }

    .nom {
        display: none;
    }
    header .row.c1 {
        justify-content: center;
    }
    #team .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 70px 0;
    }
    #features .container {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 100px;
        padding-bottom: 110px;
    }
    #download .title {
        font-size: 1.5em;
    }
    #works {
        grid-template-columns: repeat(2, 1fr);
    }
    footer .row.c1 {
        padding-top: 35px;
        padding-bottom: 45px;
    }
    footer .row.c2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav {
        gap: 40px;
    }
}


@media all and (max-width: 600px) {
    .container {
        padding-right: 13px;
        padding-left: 13px;
    }
    footer .row.c1 .container {
        grid-template-columns: 1fr;
    }
    footer .name {
    font-weight: bold;
    font-size: 0.7em;
}
    header .row.c2 {
        padding-top: 40px;
    } 
    h1 {
        width: unset;
        font-size: 2.5em;
    }
    nav {
        gap: 20px;
    }
    #features .container {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    #features .advant {
        font-size: 0.7em;
    }
     #features .descr {
        font-size: 0.8em;
/*        font-weight: bold;*/
    }
    #works {
        grid-template-columns: 1fr;
    }
    #team .container {
        padding: 40px 0;
    }
    #team .name {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 0.7em;
    }
    #team .status {
        padding: 0 0 20px;
        font-size: 0.8em;
    }
   #team .descr {
    padding-bottom: 20px;
    font-size: 0.8em;
}
    #download {
        padding: 25px 0;
    }
    #download .descr {
    font-size: 0.8em;
    }
    #download .title {
        font-size: 1.3em;
    }
    footer .row.c1 {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    footer .row.c2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .btn {
        font-size: 0.7em;
    }
    .btn.s1{
        font-size: 0.7em;
    }

}
@media all and (max-width: 400px) {
      .container {
        padding-right: 10px;
        padding-left: 10px;
  }
    footer .row.c1 .container {
        grid-template-columns: 1fr;
    }
    header .row.c2 {
        padding-top: 20px;
    } 
    h1 {
        width: unset;
        font-size: 2em;
    }

    nav {
        gap: 10px;
    }
    #features .container {
        padding-top: 25px;
        padding-bottom: 30px;
        grid-template-columns: 1fr;
    }
    #works {
        grid-template-columns: 1fr;
    }
    #team .container {
        padding: 20px 0;
        grid-template-columns: 1fr;
    }
    #team .name {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #team .status {
        padding: 0 0 10px;
    }
    #team .descr {
        padding-bottom: 10px;
    }
    #download {
        padding: 10px 0;
    }
    #download .title {
        font-size: 1.3em;
    }
    footer .row.c1 {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    footer .row.c2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn {
        padding: 10px 25px;
    }
    .btn.s1 {
        padding: 10px 40px;
    }
}